<div class="nopadding dashboard">
    <div class="uk-width-1-1 page-title dt-borderBottom" style="padding-left: 25px !important;">
        <p class="left">{{title}}</p>

        <div class="right clearfix" style="min-width: 250px;">
            <!--<div style="margin-top: 8px;">
                <select id="select_timespan" name="select_timespan" data-md-selectize>
                    <option value="30" selected>Last 30 Days</option>
                    <option value="60">Last 60 Days</option>
                    <option value="90">Last 90 Days</option>
                    <option value="180">Last 180 Days</option>
                    <option value="365">Last 365 Days</option>
                    <!--<option value="0">Lifetime</option>-->
                </select>
            </div>-->
        </div>

        <div id="lastUpdated" class="right uk-text-muted uk-text-small" style="margin:23px 25px 0 0;">
            <strong>Last Updated:</strong>
            <span>Cache Still Loading...</span>
        </div>
    </div>
    <!--Content Here-->
    <div class="page-wrapper full-height scrollable no-overflow-x">
        <center><h1>Coming Soon</h1></center>
    </div>
</div>

{{#contentFor 'js-plugins'}}

{{/contentFor}}